# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Misc
.DS_Store
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local
.env.development

# IDE
.vscode/
.idea/
*.swp
*.swo

# Cache
.cache/
